<div class="row" id="main-row-sect">
    <div class="container-lg">
        
    <div>
<div>
 <div class="row">
     <div class="col-md-9">
         <h1 class="what-is-h2" style="text-align: center; color: midnightblue; margin-top: 50px">BROWSE OUR TRIALS</h1><br>
         <label style="margin-left: 100px; color: cornflowerblue 
">Quick Search: <input id="search" type="text" style="width: 500px; height: 75px; border-width: 5px; border-color: cornflowerblue; margin-top: 100px"></label>

             {{#each data.trials}}
             <table id="gene-table" class="table table-striped gene">
               <thead>
                 <tr>
                     <th>Name</th>
                     <th>Status</th>
                     <th>Interventions</th>
                     <th>Minimum Age Requirement</th>
                     <th>Maximum Age Requirement</th>
                     <th>Conditions Disease</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                     <td class="td-trials">{{name}}</td>
                     <td class="td-trials">{{status}}</td>
                     <td class="td-trials">{{interventions}}</td>
                     <td class="td-trials">{{min_age_req}}</td>
                     <td class="td-trials">{{max_age_req}}</td>
                     <td class="td-trials">{{conditionsDisease}}</td>
                 </tr>
               </tbody>
             </table>
             {{/each}}
       </div>
   </div>

   <script>
       var $rows = $("tr");

       $("#search").keyup(function() {
           var val = $.trim(this.value);
           if (val === "")
               $rows.show();
           else {
               $rows.hide();
               $rows.has("td:contains(" + val + ")").show();
           }
       });
   </script>
