<div class="row" id="main-row-sect">
    <div class="container-lg">
        
    <div>
<div>
 <div class="row">
  <div class="col-md-1"></div>
     <div class="col-md-9">
         <h1 class="browse-trials-h2" style="text-align: center; color: midnightblue; margin-top: 157px">BROWSE TRIALS</h1><br>
             <table id="gene-table" class="table table-hover" cellspacing="1">
               <thead>
                 <tr>
                     <th class="td-trials-head">ID</th>
                     <th class="td-trials-head">Name</th>
                     <th class="td-trials-head">Status</th>
                     <th class="td-trials-head">Interventions</th>
                     <th class="td-trials-head">Minimum Age Requirement</th>
                     <th class="td-trials-head">Maximum Age Requirement</th>
                     <th class="td-trials-head">Conditions Treated</th>
                     <th class="td-trials-head">URL</th>
                 </tr>
               </thead>
              
               <tbody>
             {{#each data.trials}}
                 <tr>
                   
                     <td class="td-trials">{{_id}}</td>
                     <td class="td-trials">{{name}}</td>
                     <td class="td-trials">{{status}}</td>
                     <td class="td-trials">{{interventions}}</td>
                     <td class="td-trials">{{min_age_req}}</td>
                     <td class="td-trials">{{max_age_req}}</td>
                     <td class="td-trials">{{conditionsDisease}}</td>
                     <td class="td-trials"><a href="{{url}}">ClinicalTrials.gov</a></td>

                 </tr>
             {{/each}}
               </tbody>
             </table>
       </div>
   </div>

   <script>
    $(document).ready(function() {
      $('#gene-table').DataTable( {
        "order": [[ 3, "desc" ]]
           
      });
    });
   </script>
