<h1 style="font-size: 50px; margin-top: 160px; text-align: center; margin-bottom: 45px"> {{user}}'s Genetics 
  <canvas width="1600" height="500" style="">
  </canvas>
</h1>
<div class="row" id="make-transparent">
  <div class="col-lg-6 wrap-gene-results">
    <div class="list-group">
      <h2 style="margin-top: 30px">Understanding Your Results</h2>
      <p class="lead">We tested your genome for 3 diseases. Your results for the conditions tested are below. Click on a tab for more information.</p>
      <a href="#" class="modal-trigger" data-toggle="modal" 
      data-target="#glaucomaModal" id="a-glaucoma">Glaucoma
      <br>
      <p>Learn more about your Glaucoma risks</p>
      </a>

      <div class="modal modal-fullreen fade" id="glaucomaModal" tabindex="-1" role="dialog" aria-labelledby="glaucomaModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
              <h2 class="modal-title" id="myModalLabel" style="text-align: center">Glaucoma</h2>
              </div>
              <div style="display: flex; align-items: center; justify-content: center">
              {{!-- <img style="" src="http://brandoneye.com/wp-content/uploads/2015/07/glaucoma.png"> --}}
              </div>
              <div class="modal-header">

                <h2 style="text-align: center">Your Results</h2>
              </div>
              <div class="modal-body genotypes-can-do">
              {{#each data.genes}}
                <p class="lead">We tested your genome for three SNPs (See Table Below) for Genes: {{diseases.0.diseasegenename}} and {{diseases.1.diseasegenename}} that have been shown to be associated with a risk of developing certain forms of Glaucoma, specifically: {{diseases.0.diseasename}} and {{diseases.8.diseasename}}. Your genotypes for Glaucoma are {{genotypes.rs28936694}} and {{genotypes.rs3825942}}, and {{genotypes.rs1048661}}. </p>

                <ul class="list-group">
                  <li class="list-group-item lead">1. Genotype {{genotypes.rs28936694}} carries a {{diseases.0.risk}} {{diseases.0.descr}}
                  </li>
                  <li class="list-group-item lead">2. Genotype {{genotypes.rs3825942}} carries a {{diseases.1.risk}} {{diseases.1.descr}}
                  </li> 
                  <li class="list-group-item lead">
                  3. Genotype {{genotypes.rs1048661}} carries a {{diseases.8.risk}} {{diseases.8.descr}}</li>
                </ul>
              {{/each}}
              </div>
              <div class="modal-header">
              <h2>About The Disease</h2>
              </div>
              <div class="modal-body genotypes-can-do">

                  <p class="lead">Glaucoma is a group of eye diseases that damage the optic nerve (the bundle of nerve fibers that carries information from the eye to the brain) and can lead to vision loss and possibly blindness.</p>
                  <br>
                  
                  <p class="lead">Vision experts believe that half of those affected by glaucoma may not know it, because it usually has no noticeable symptoms in its early stages. By the time people notice that something is wrong with their vision, the disease has already caused considerable damage.</p> <br>
                  <p class="lead">Vision lost to glaucoma cannot be regained. If left untreated, glaucoma will lead to blindness. Although there is no cure, medications and surgery can help slow the disease's progression.</p>
                  <br>

                  <p class="lead">Glaucoma is the second leading cause of blindness worldwide, according to the World Health Organization, affecting 60.5 million in 2010. Given the aging of the world's population, this number may increase to almost 80 million by 2020. More than three million Americans are living with glaucoma, 2.7 million of whom—aged 40 and older—are affected by its most common type, open-angle glaucoma. In the United States, glaucoma is a leading cause of blindness among African Americans and Hispanics.</p>
                  <br>

                  <p class="lead">Open-angle glaucoma is three to four times more common in African Americans than in non-Hispanic whites. Between the ages of 45 and 64, glaucoma is fifteen times more likely to cause blindness in African Americans than in Caucasians.</p>

              </div>
              <div class="modal-header">
              <h2>What You Can Do</h2>
              </div>
              <div class="modal-body genotypes-can-do">

                <p class="lead">Individuals at high risk for glaucoma should have a dilated-pupil eye examination at least every two years. Eye doctors use several tests to detect glaucoma.</p>
                <p class="lead"> Tonometry measures the pressure inside the eye. Examples of tonometers include:</p>
                
                <ul class="list-group">
                  <li class="list-group-item lead">1. The air-puff (noncontact) tonometer, which emits a puff of air. Eye pressure is measured by the eye's resistance to the air.
                  The applanation tonometer, which touches the eye's surface after the eye has been numbed and measures the amount of pressure necessary to flatten the cornea. This is the most sensitive tonometer, but a clear, regularly-shaped cornea is needed for it to function properly.
                  </li>
                  <li class="list-group-item lead">2. The electronic indentation method, which measures pressure by directly contacting anesthetized eyes with a digital pen-like instrument.
                  In pupil dilation, special drops temporarily enlarge the pupil so the doctor can better view the inside of the eye. Various instruments allow the doctor to determine the thickness of the cornea, to view the front and/or the interior of the eye, and to monitor optic nerve changes over time.
                  </li> 
                  <li class="list-group-item lead">3. Visual field testing measures the entire area seen by the forward-looking eye to document straight-ahead (central) and/or side (peripheral) vision.

                  A visual acuity test uses an eye chart to measure sight at various distances.
                  </li>
                  <li class="list-group-item lead">4. Ge­net­ic coun­sel­ing can help you and fam­i­ly mem­bers to find an­swers for any ques­tions you have about Glaucoma. 
                  </li>
                </ul>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" id="main-btn"data-dismiss="modal">Close</button>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="modal-trigger" data-toggle="modal" 
      data-target="#stargardtsModal" id="a-stargardts">Stargardt's Disease
        <br>
        <p>Learn more about your Stargardts risks</p>
      </a>
      <div class="modal modal-fullreen fade" id="stargardtsModal" tabindex="-1" role="dialog" aria-labelledby="stargardtsModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
              <h2 class="modal-title" id="myModalLabel" style="text-align: center">Stargardt's Disease</h2>
            </div>
            <div class="modal-header">
              <h2>Your Results</h2>
            </div>
            <div class="modal-body genotypes-can-do">
              {{#each data.genes}}
                <p class="lead">We tested your genome for three SNPs (See Table Below) for the {{diseases.6.diseasegenename}} Gene. {{diseases.6.diseasegenename}} has been shown to be associated with a risk of developing certain forms of Stargardt's Disease, specifically: {{diseases.6.diseasename}}. Your genotypes for Stargardt's Disease are {{genotypes.rs61753034}} and {{genotypes.rs61753033}}.</p>

                <ul class="list-group">
                  <li class="list-group-item lead">1. Genotype {{genotypes.rs61753034}} carries a {{diseases.6.risk}} {{diseases.6.descr}}
                  </li>
                  <li class="list-group-item lead">2. Genotype {{genotypes.rs61753033}} carries a {{diseases.7.risk}} {{diseases.7.descr}}
                  </li> 
                 
                </ul>
              {{/each}}   
            </div>
            <div class="modal-header">
            <h2>About The Disease</h2>
            </div>
            <div class="modal-body genotypes-can-do">
              <p class="lead">The most common cause of Stargardt’s is an autosomal recessive mutation in a gene called ABCA4. This gene normally facilitates transport of a “used” form of vitamin A out of photoreceptors, the light sensitive cells in the retina. Without ABCA4, this material builds up in the retina and contributes to the formation of lipofuscin.</p>
              <br>
              
              <p class="lead">Patients usually inherit Stargardt disease from parents who are unaffected carriers of the disease where one of the two copies of the ABCA4 gene is each parent carries a mutation. In such families, each child has a 25 percent chance of developing Stargardt’s disease and a 50 percent chance of being an unaffected carrier.</p>
              <br>
              <p class="lead">Rarely, Stargardt disease can be caused by an autosomal dominant mutation in a gene called ELOVL4. This gene is responsible for the synthesis of very long chain fatty acids. In families with this form of the disease, one parent has the disease and 50 percent of his/her children inherit one copy of a mutated version of the ELOVL4 gene and develop the disease.</p> <br>
            </div>
            <div class="modal-header">
              <h2>What You Can Do</h2>
            </div>
            <div class="modal-body genotypes-can-do">
              <p class="lead">Individuals with a family history for Stargardt's Disease should try to obtain a clinical diagnosis through genetic testing. </p>
              <ul class="list-group">
                <li class="list-group-item lead"> Genetic counseling is a great way to obtain a natural history of the condition. There are a number of genetic counselors that can help. 
                </li>
                <li class="list-group-item lead"> Resources include: <br>
                <a href="http://www.ncbi.nlm.nih.gov/variation/tools/1000genomes/?chr=NC_000001.10&from=94458392&to=94586704">1000 Genomes</a> <br>  <a href="http://www.ncbi.nlm.nih.gov/gtr/labs/279559/">The National Center for Biotechnology Information, U.S. National Library of Medicine</a> <br> 
                <a href="http://www.centogene.com/genetic-testing/genetic-statistics/genetic-insights-ophthalmology.html">Centogene AG</a> on their website as a genetic resource.
                </li> 
                <li class="list-group-item lead"> Cesarcells has several clinical trials that treat Stargardt's Disease. Click <a href="/tools/start-health-assessment">HERE</a> to see if you qualify.
                </li>             
              </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="main-btn" data-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div>

      <a href="#" class="modal-trigger" data-toggle="modal" 
      data-target="#armdModal" id="a-armd">Age Related Macular Dengeration (ARMD)
        <br>
        <p>Learn more about your ARMD risks</p>
      </a>
      
      <div class="modal modal-fullreen fade" id="armdModal" tabindex="-1" role="dialog" aria-labelledby="armdModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
              
              <h2 class="modal-title" id="myModalLabel" style="text-align: center">Age Related Macular Dengeration</h2>
            </div>
            <div class="modal-header">
              <h2>Your Results</h2>
            </div> 
            <div class="modal-body genotypes-can-do">
                <p class="lead">{{#each data.genes}}
                <p class="lead">We tested your genome for five SNPs (See Table Below) for the {{diseases.2.diseasegenename}}, {{diseases.3.diseasegenename}}, {{diseases.4.diseasegenename}}, and {{diseases.5.diseasegenename}} Genes that have been shown to be associated with a risk of developing certain forms of ARMD, specifically: {{diseases.2.diseasename}}, {{diseases.4.diseasename}}, and {{diseases.5.diseasename}}. </p>

                <ul class="list-group">
                  <li class="list-group-item lead">1. Genotype {{genotypes.rs2230199}} carries a {{diseases.2.risk}} {{diseases.2.descr}}
                  </li>
                  <li class="list-group-item lead">2. Genotype {{genotypes.rs800292}} carries a {{diseases.3.risk}} {{diseases.3.descr}}
                  </li> 
                  <li class="list-group-item lead">3. Genotype {{genotypes.rs3775291}} carries a {{diseases.4.risk}} {{diseases.4.descr}}
                  </li> 
                  <li class="list-group-item lead">4. Genotype {{genotypes.rs3775291}} carries a {{diseases.5.risk}} {{diseases.5.descr}}
                  </li> 
                  <li class="list-group-item lead">4. Genotype {{genotypes.rs1061170}} carries a {{diseases.9.risk}} {{diseases.9.descr}}
                  </li>
                 
                </ul>
              {{/each}}</p>     
            </div>

            <div class="modal-header">
              <h2>About The Disease</h2>
            </div>

            <div class="modal-body genotypes-can-do">
              <p class="lead">There are two forms of AMD: dry and wet. It is possible for a person to suffer from both forms and for the disease to progress slowly or rapidly.</p>
              <br>
              <p class="lead">Dry macular degeneration is the most common type of AMD. This form, in which the photosensitive cells of the macula slowly break down, is diagnosed in 85 to 90 percent of cases. Yellow deposits called drusen (waste products from metabolism) form and accumulate under the retina, between the retinal pigmented epithelium (RPE) layer and the Bruch's membrane, the blood-retina barrier which supports the retina.</p>
              <br>
              <p class="lead">Drusen are often found in the eyes of older people, but an increase in the size and number of these deposits is frequently the first sign of macular degeneration. Over time, drusen are associated with deterioration of the macula and the death of RPE and photoreceptor cells, resulting in blurring or a spotty loss of clear, straight-ahead vision.</p> <br>
              <p class="lead">Dry AMD may advance and cause loss of vision without turning into the wet form of the disease. It is also possible for early-stage dry AMD to change into the wet form of the disease.</p> <br>
              <p class="lead">Wet macular degeneration is usually preceded by the dry form of the disease. This wet form occurs when the Bruch's membrane begins to break down, usually near drusen deposits, and new blood vessels grow. This growth is called neovascularization. These vessels are very fragile and can leak fluid and blood, resulting in scarring of the macula and the potential for rapid, severe damage. </p> <br>
              <p class="lead">The neovascularization disturbs the natural organization of the light-detecting photoreceptor cells and their associated RPE cells, eventually leading to their death. Straight-ahead vision can become distorted or be lost entirely in a short period of time, sometimes within days or weeks. The wet form accounts for approximately 10 percent of all cases of AMD, but it results in 90 percent of the cases of legal blindness. All wet AMD is considered advanced.</p> <br>


            </div>

            <div class="modal-header">
              <h2>What You Can Do</h2>
            </div>

            <div class="modal-body genotypes-can-do">
              <p class="lead">Several genes are believed to be strongly associated with the risk of developing AMD:</p>
              <br>
              
              <p class="lead">Factor H and Factor B genes are responsible for proteins that help regulate inflammation in the part of the immune system that attacks diseased and damaged cells. According to study results published in 2006 by Columbia University, 74 percent of AMD patients carry certain variants in one or both of these genes, and these may significantly increase their risk of developing it.</p>
              <br>
              <p class="lead">PLEKHA1 – a gene located on chromosome 10; researchers believe it may increase the risk of developing AMD. Like Factors H and B, PLEKHA1 appears to be involved in the cellular processes related to inflammation.</p> <br>
              <p class="lead">HTRA1 – Scientists have identified a link between a mutation in this gene and the development of AMD. Specifically, the HTRA1 mutation is thought to be associated with the formation of drusen (yellow deposits of waste products under the retina that are often a sign of dry AMD), and may also promote the growth of fragile new blood vessels typical of wet AMD.</p> <br>
              <p class="lead">Complement C3 – Researchers have found that a variant in this gene increases the risk of developing the wet and dry forms of AMD. This gene plays an important role in the immune system, leading scientists to believe that inflammation is a vital part of the AMD disease process.</p> <br>
              <p class="lead">Other gene candidates are being studied to determine their role in AMD. While there is definitely a strong genetic component to this disease, it is highly likely that its development is due to a combination of multiple factors including gene mutations or variations and environmental factors such as sunlight exposure, diet and smoking.</p> <br>
    
              <ul class="list-group">
                <li class="list-group-item lead"> Genetic counseling is a great way to obtain a natural history of the condition. There are a number of genetic counselors that can help. 
                </li>
                <li class="list-group-item lead"> Resources include: <br>
                <a href="http://www.ncbi.nlm.nih.gov/variation/tools/1000genomes/?chr=NC_000001.10&from=94458392&to=94586704">1000 Genomes</a> <br>  <a href="http://www.ncbi.nlm.nih.gov/gtr/labs/279559/">The National Center for Biotechnology Information, U.S. National Library of Medicine</a> <br> 
                <a href="http://www.centogene.com/genetic-testing/genetic-statistics/genetic-insights-ophthalmology.html">Centogene AG</a> on their website as a genetic resource.
                </li> 
                <li class="list-group-item lead"> Cesarcells has several clinical trials that treat ARMD. Click <a href="/tools/start-health-assessment">HERE</a> to see if you qualify.
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" id="main-btn" data-dismiss="modal">Close</button>               
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h2>Your Genome</h2>
   {{!--  <p class="lead text-center">Your results for these tested conditions deviate significantly from the normal range. Your current and future health might be impacted.</p> --}}
    <div class="wrap-snps table-responsive">
      <table class="table table-hover" id="genes-table" cellspacing="0" cellpadding="0" border="0">
        <thead>
          <tr>
              <th>Retinal Disease   <i class="fa fa-info-circle" id="retinal-disease-icon" aria-hidden="true"></i></th>
              <th>Gene   <i class="fa fa-info-circle" id="gene-icon" aria-hidden="true"></i></th>
              {{!-- <th>SNP</th> --}}
              <th>Variants   <i class="fa fa-info-circle" id="variant-icon" aria-hidden="true"></i></th>
              {{!-- <th>Your Genotype</th> --}}
        
          </tr>
        </thead>
        <tbody>
      {{#each data.genes}}
        {{#each diseases}}  
          
          <tr>
              
            <td>{{diseasename}}</td>
            <td><a id="genename-link" target="_blank" href="https://ghr.nlm.nih.gov/gene/{{diseasegenename}}#conditions">{{diseasegenename}}</a></td> 
            <td>{{variants}}</td>
          
          </tr>
        
        {{/each}}        
      {{/each}}

        </tbody>
      </table>
    
 
      <table class="table table-hover table-responsive" id="snps-table" cellspacing="0" cellpadding="0" border="0">
        <thead>
          <tr>

              {{!-- <th class="td-trials-head">Genes</th> --}}
              <th>SNP   <i class="fa fa-info-circle" id="snps-icon" aria-hidden="true"></i></th>
              {{!-- <th>Variants</th> --}}
              <th>Your Genotype   <i class="fa fa-info-circle" id="genotypes-icon" aria-hidden="true"></i></th>
        
          </tr>
        </thead>
        <tbody>
      {{#each data.genes}}
        {{#each genotypes}}  
          
        {{!-- {{#each ../diseases}} --}}
          <tr>
            
            {{!-- <td class="td-trials">{{diseasegenename}}</td> --}}
            <td><a id="snp-link" target="_blank" href="http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs={{@key}}">{{@key}}</a></td>
            {{!-- <td>{{variants}}</td> --}}
            <td style="color: deeppink">{{this}}</td>
          
          </tr>
          {{!-- {{/each}} --}}
        
        {{/each}}        
      {{/each}}

        </tbody>
          
      </table>
    </div>
  </div>
  </div>
</div>
{{!-- I want to display the gene name, variants in the corresponding field --}}
<script type="text/javascript">
"undefined"==typeof requestAnimationFrame&&(requestAnimationFrame="undefined"!=typeof window&&(window.msRequestAnimationFrame||window.mozRequestAnimationFrame||window.webkitRequestAnimationFrame||window.oRequestAnimationFrame)||function(e){return setTimeout(e,17)}),function(e,t){"object"==typeof exports&&"undefined"!=typeof module?t(exports):"function"==typeof define&&define.amd?define(["exports"],t):t(e.timer={})}(this,function(e){"use strict";function t(){l=s=0,c=1/0,n(a())}function n(e){if(!l){var n=e-Date.now();n>24?c>e&&(s&&clearTimeout(s),s=setTimeout(t,n),c=e):(s&&(s=clearTimeout(s),c=1/0),l=requestAnimationFrame(t))}}function i(e,t){this.callback=e,this.time=t,this.flush=!1,this.next=null}function o(e,t,o){o=null==o?Date.now():+o,null!=t&&(o+=+t);var u=new i(e,o);r?r.next=u:m=u,r=u,n(o)}function u(e,t,n){n=null==n?Date.now():+n,null!=t&&(n+=+t),f.callback=e,f.time=n}function a(e){e=null==e?Date.now():+e;var t=f;for(f=m;f;)e>=f.time&&(f.flush=f.callback(e-f.time,e)),f=f.next;f=t,e=1/0;for(var n,i=m;i;)i.flush?i=n?n.next=i.next:m=i.next:(i.time<e&&(e=i.time),i=(n=i).next);return r=n,e}var m,r,f,l,s,c=1/0;e.timer=o,e.timerReplace=u,e.timerFlush=a});

     var canvas = document.querySelector("canvas"),
         context = canvas.getContext("2d"),
         width = canvas.width,
         height = canvas.height,
         radius = 2.5,
         minDistance = 80,
         maxDistance = 100,
         minDistance2 = minDistance * minDistance,
         maxDistance2 = maxDistance * maxDistance;

     var tau = 2 * Math.PI,
         n = 100,
         particles = new Array(n);

     for (var i = 0; i < n; ++i) {
       particles[i] = {
         x: width * Math.random(),
         y0: height * Math.random(),
         v: .1 * (Math.random() - .5)
       };
     }

     timer.timer(function(elapsed) {
       context.clearRect(0, 0, width, height);

       context.lineWidth = 1;
       context.strokeStyle = "#777";
       for (var i = 0; i < n; ++i) {
         var pi = particles[i];
         for (var j = i + 1; j < n; ++j) {
           var pj = particles[j],
               dx = pi.x - pj.x,
               dy = pi.y - pj.y,
               d2 = dx * dx + dy * dy;
           if (d2 < maxDistance2) {
             context.globalAlpha = d2 > minDistance2 ? (maxDistance2 - d2) / (maxDistance2 - minDistance2) : 1;
             context.beginPath();
             context.arc((pi.x + pj.x) / 2, (pi.y + pj.y) / 2, Math.sqrt(d2) / 2, 0, tau);
             context.stroke();
           }
         }
       }
       context.globalAlpha = 1;

       for (var i = 0; i < n; ++i) {
         var p = particles[i];
         p.y = p.y0 + elapsed * p.v;
         if (p.y > height + maxDistance) p.x = width * Math.random(), p.y0 -= height + 2 * maxDistance;
         else if (p.y < -maxDistance) p.x = width * Math.random(), p.y0 += height + 2 * maxDistance;
         context.beginPath();
         context.arc(p.x, p.y, radius, 0, tau);
         context.fill();
       }
     });


</script>











