<h1 style="font-size: 50px; margin-top: 176px; text-align: center; margin-bottom: 45px"><strong id="index-title"> {{user.firstname}}'s </strong> Genetics 

</h1>
{{#if data.genes.genotypes}}

{{else}} {{! If they don't pay for the gene test, display text below}}
<div class="modal-body genotypes-can-do"> 
  <h2 class="lead" style="text-align: center"><a href="/charge">PURCHASE A GENE REPORT </a> to view your results.</h2>
</div>
{{/if}}
<div class="container">


<div class="row" id="make-transparent">
  <div class="col-lg-6 wrap-gene-results">
    <div class="list-group">
      <h2 style="margin-top: 30px; color: deeppink"><strong id="index-title">Understanding Your Results</strong></h2>

      <p class="lead">We tested your genome and compared your genotype for your likelihood of developing certain types of Age Related Macular Degeneration. In addition, we tested your genome for Stargardt's Disease, and Glaucoma. Your results for the conditions tested are below. Click on a tab for more information.</p>
      <a href="#" class="modal-trigger" data-toggle="modal" 
      data-target="#glaucomaModal" id="a-glaucoma">Glaucoma
      <br>
      <p>Learn more about your Glaucoma risks</p>
      </a>

      <div class="modal modal-fullreen fade" id="glaucomaModal" tabindex="-1" role="dialog" aria-labelledby="glaucomaModal" aria-hidden="true">
        <div class="modal-dialog modal-lg results-modal">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              {{!-- <h1 class="modal-title" id="myModalLabel">Glaucoma</h1> --}}
              </div>
              <div style="display: flex; align-items: center; justify-content: center">
              {{!-- <img style="" src="http://brandoneye.com/wp-content/uploads/2015/07/glaucoma.png"> --}}
              </div>
              <div class="modal-header">

                <h2 style="text-align: center">Your Results</h2>
              </div>
              {{#if data.genes.genotypes}}
              <div class="modal-body genotypes-can-do">
              {{#each data.genes.genotypes}}
                <p class="lead">We tested your genome for three SNPs (See Table Below) for Genes: {{diseases.0.diseasegenename}} and {{diseases.1.diseasegenename}} that have been shown to be associated with a risk of developing certain forms of Glaucoma, specifically: {{diseases.0.diseasename}} and {{diseases.8.diseasename}}. Your genotypes for Glaucoma are {{genotypes.rs28936694}}, {{genotypes.rs3825942}}, and {{genotypes.rs1048661}}. </p>

                <ul class="list-group">
                  <li class="list-group-item lead">1. For {{diseases.0.snp}}, your Genotype is {{genotypes.rs28936694}}. This snp is {{diseases.0.risk}} {{diseases.0.descr}} This snp is located on {{diseases.0.location}}.
                  </li>
                  <li class="list-group-item lead">2. For {{diseases.1.snp}}, your Genotype is {{genotypes.rs3825942}}. {{diseases.1.risk}} {{diseases.1.descr}} This snp is located on {{diseases.1.location}}.
                  </li> 
                  <li class="list-group-item lead">
                  3. For {{diseases.8.snp}}, your Genotype is {{genotypes.rs1048661}}. {{diseases.8.risk}} {{diseases.8.descr}} This snp is located on {{diseases.8.location}}.
                  </li>
                </ul>
              {{/each}}
              </div>
              {{else}} {{! If they don't pay for the gene test, display text below}}
              <div class="modal-body genotypes-can-do">
                <p class="lead">Purchase a gene report to view your results.</p>
              </div>
              {{/if}}
              <div class="modal-header">
              <h2>About The Disease</h2>
              </div>
              {{#if data.genes}}
              <div class="modal-body genotypes-can-do">

                  <p class="lead">Glaucoma is a group of eye diseases that damage the optic nerve (the bundle of nerve fibers that carries information from the eye to the brain) and can lead to vision loss and possibly blindness.</p>
                  <br>
                  
                  <p class="lead">Vision experts believe that half of those affected by glaucoma may not know it, because it usually has no noticeable symptoms in its early stages. By the time people notice that something is wrong with their vision, the disease has already caused considerable damage.</p> <br>
                  <p class="lead">Vision lost to glaucoma cannot be regained. If left untreated, glaucoma will lead to blindness. Although there is no cure, medications and surgery can help slow the disease's progression.</p>
                  <br>

                  <p class="lead">Glaucoma is the second leading cause of blindness worldwide, according to the World Health Organization, affecting 60.5 million in 2010. Given the aging of the world's population, this number may increase to almost 80 million by 2020. More than three million Americans are living with glaucoma, 2.7 million of whom—aged 40 and older—are affected by its most common type, open-angle glaucoma. In the United States, glaucoma is a leading cause of blindness among African Americans and Hispanics.</p>
                  <br>

                  <p class="lead">Open-angle glaucoma is three to four times more common in African Americans than in non-Hispanic whites. Between the ages of 45 and 64, glaucoma is fifteen times more likely to cause blindness in African Americans than in Caucasians.</p>

              </div>
              {{else}} {{! If they don't pay for the gene test, display text below}}
              <div class="modal-body genotypes-can-do">
                <p class="lead">Purchase a gene report to view your results.</p>
              </div>
              {{/if}}
              <div class="modal-header">
              <h2>What You Can Do</h2>
              </div>
              {{#if data.genes}}
              <div class="modal-body genotypes-can-do">

                <p class="lead">Individuals at high risk for glaucoma should have a dilated-pupil eye examination at least every two years. Eye doctors use several tests to detect glaucoma.</p>
                <p class="lead"> Tonometry measures the pressure inside the eye. Examples of tonometers include:</p>
                
                <ul class="list-group">
                  <li class="list-group-item lead">1. The air-puff (noncontact) tonometer, which emits a puff of air. Eye pressure is measured by the eye's resistance to the air.
                  The applanation tonometer, which touches the eye's surface after the eye has been numbed and measures the amount of pressure necessary to flatten the cornea. This is the most sensitive tonometer, but a clear, regularly-shaped cornea is needed for it to function properly.
                  </li>
                  <li class="list-group-item lead">2. The electronic indentation method, which measures pressure by directly contacting anesthetized eyes with a digital pen-like instrument.
                  In pupil dilation, special drops temporarily enlarge the pupil so the doctor can better view the inside of the eye. Various instruments allow the doctor to determine the thickness of the cornea, to view the front and/or the interior of the eye, and to monitor optic nerve changes over time.
                  </li> 
                  <li class="list-group-item lead">3. Visual field testing measures the entire area seen by the forward-looking eye to document straight-ahead (central) and/or side (peripheral) vision.

                  A visual acuity test uses an eye chart to measure sight at various distances.
                  </li>
                  <li class="list-group-item lead">4. Ge­net­ic coun­sel­ing can help you and fam­i­ly mem­bers to find an­swers for any ques­tions you have about Glaucoma. 
                  </li>
                </ul>
              </div>
              {{else}} {{! If they don't pay for the gene test, display text below}}
              <div class="modal-body genotypes-can-do">
                <p class="lead">Purchase a gene report to view your results.</p>
              </div>
              {{/if}}
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" id="main-btn"data-dismiss="modal">Close</button>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="modal-trigger" data-toggle="modal" 
      data-target="#stargardtsModal" id="a-stargardts">Stargardt's Disease
        <br>
        <p>Learn more about your Stargardts risks</p>
      </a>
      <div class="modal modal-fullreen fade" id="stargardtsModal" tabindex="-1" role="dialog" aria-labelledby="stargardtsModal" aria-hidden="true">
        <div class="modal-dialog modal-lg results-modal">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h2 class="modal-title" id="myModalLabel" style="text-align: center"></h2>
            </div>
            <div class="modal-header">
              <h2>Your Results</h2>
            </div>
            {{#if data.genes}}
            <div class="modal-body genotypes-can-do">
              {{#each data.genes}}
                <p class="lead">We tested your genome for two SNPs for the {{diseases.6.diseasegenename}} Gene. {{diseases.6.diseasegenename}} has been shown to be associated with a risk of developing certain forms of Stargardt's Disease, specifically: {{diseases.6.diseasename}}. Your genotypes for Stargardt's Disease are {{genotypes.rs61753034}} and {{genotypes.rs61753033}}.</p>

                <ul class="list-group">
                  <li class="list-group-item lead">1. For {{diseases.6.snp}}, your Genotype is {{genotypes.rs61753034}}. Data show that this snp is  {{diseases.6.risk}}. The associated risk allele is (C). {{diseases.6.descr}} This snp is located on {{diseases.6.location}}.
                  </li>
                  <li class="list-group-item lead">2. For {{diseases.7.snp}}, your Genotype is {{genotypes.rs61753033}}. Data show that this snp is {{diseases.7.risk}}. {{diseases.7.descr}}. The associated risk allele is (C). If you Genotype is '__', 23andMe was unable to accurately determine your genotype at that location. This snp is located on {{diseases.7.location}}.
                  </li> 
                 
                </ul>
              {{/each}}   
            </div>
            {{else}} {{! If they don't pay for the gene test, display text below}}
            <div class="modal-body genotypes-can-do">
              <p class="lead">Purchase a gene report to view your results.</p>
            </div>
            {{/if}}
            <div class="modal-header">
            <h2>About The Disease</h2>
            </div>
            {{#if data.genes}}
            <div class="modal-body genotypes-can-do">
              <p class="lead">The most common cause of Stargardt’s is an autosomal recessive mutation in a gene called ABCA4. This gene normally facilitates transport of a “used” form of vitamin A out of photoreceptors, the light sensitive cells in the retina. Without ABCA4, this material builds up in the retina and contributes to the formation of lipofuscin.</p>
              <br>
              
              <p class="lead">Patients usually inherit Stargardt disease from parents who are unaffected carriers of the disease where one of the two copies of the ABCA4 gene in each parent carries a mutation. In such families, each child has a 25 percent chance of developing Stargardt’s disease and a 50 percent chance of being an unaffected carrier.</p>
              <br>
              <p class="lead">Rarely, Stargardt disease can be caused by an autosomal dominant mutation in a gene called ELOVL4. This gene is responsible for the synthesis of very long chain fatty acids. In families with this form of the disease, one parent has the disease and 50 percent of his/her children inherit one copy of a mutated version of the ELOVL4 gene and develop the disease.</p> <br>
            </div>
            {{else}} {{! If they don't pay for the gene test, display text below}}
            <div class="modal-body genotypes-can-do">
              <p class="lead">Purchase a gene report to view your results.</p>
            </div>
            {{/if}}
            <div class="modal-header">
              <h2>What You Can Do</h2>
            </div>
            {{#if data.genes}}
            <div class="modal-body genotypes-can-do">
              <p class="lead">Individuals with a family history for Stargardt's Disease should try to obtain a clinical diagnosis through genetic testing. </p>
              <ul class="list-group">
                <li class="list-group-item lead"> Genetic counseling is a great way to obtain a natural history of the condition. There are a number of genetic counselors that can help. 
                </li>
                <li class="list-group-item lead"> Resources include: <br>
                <a href="http://www.ncbi.nlm.nih.gov/variation/tools/1000genomes/?chr=NC_000001.10&from=94458392&to=94586704">1000 Genomes</a> <br>  <a href="http://www.ncbi.nlm.nih.gov/gtr/labs/279559/">The National Center for Biotechnology Information, U.S. National Library of Medicine</a> <br> 
                <a href="http://www.centogene.com/genetic-testing/genetic-statistics/genetic-insights-ophthalmology.html">Centogene AG</a> on their website as a genetic resource.
                </li> 
                <li class="list-group-item lead"> Cesarcells has several clinical trials that treat Stargardt's Disease. Click <a href="/tools/start-health-assessment">HERE</a> to see if you qualify.
                </li>             
              </ul>
            </div>
            {{else}} {{! If they don't pay for the gene test, display text below}}
            <div class="modal-body genotypes-can-do">
              <p class="lead">Purchase a gene report to view your results.</p>
            </div>
            {{/if}}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="main-btn" data-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div>

      <a href="#" class="modal-trigger" data-toggle="modal" 
      data-target="#armdModal" id="a-armd">Age Related Macular Degeneration (ARMD)
        <br>
        <p>Learn more about your ARMD risks</p>
      </a>
      
      <div class="modal modal-fullreen fade" id="armdModal" tabindex="-1" role="dialog" aria-labelledby="armdModal" aria-hidden="true">
        <div class="modal-dialog modal-lg results-modal">
          <div class="modal-content">
            <div class="modal-header">
              
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              
              <h2 class="modal-title" id="myModalLabel" style="text-align: center"></h2>
            </div>
            <div class="modal-header">
              <h2>Your Results</h2>
            </div> 
            {{#if data.genes}}
            <div class="modal-body genotypes-can-do">
                <p class="lead">{{#each data.genes}}
                <p class="lead">We tested your genome for five SNPs (See Table Below) for the {{diseases.2.diseasegenename}}, {{diseases.3.diseasegenename}}, {{diseases.4.diseasegenename}}, and {{diseases.5.diseasegenename}} Genes that have been shown to be associated with a risk of developing certain forms of ARMD, specifically: {{diseases.2.diseasename}}, {{diseases.4.diseasename}}, and {{diseases.5.diseasename}}. </p>

                <ul class="list-group">
                  <li class="list-group-item lead">1. For {{diseases.2.snp}}, your Genotype is {{genotypes.rs2230199}} carries a {{diseases.2.risk}} {{diseases.2.descr}} This snp is located on {{diseases.2.location}}.
                  </li>
                  <li class="list-group-item lead">2. For {{diseases.3.snp}}, your Genotype is {{genotypes.rs800292}} carries a {{diseases.3.risk}} {{diseases.3.descr}} This snp is located on {{diseases.3.location}}.
                  </li> 
                  <li class="list-group-item lead">3. For {{diseases.4.snp}}, your Genotype is {{genotypes.rs3775291}} carries a {{diseases.4.risk}} {{diseases.4.descr}} This snp is located on {{diseases.4.location}}.
                  </li> 
                  <li class="list-group-item lead">4. For {{diseases.5.snp}}, your Genotype is {{genotypes.rs3775291}} carries a {{diseases.5.risk}} {{diseases.5.descr}} This snp is located on {{diseases.5.location}}.
                  </li> 
                  <li class="list-group-item lead">4. For {{diseases.9.snp}}, your Genotype is {{genotypes.rs1061170}} carries a {{diseases.9.risk}} {{diseases.9.descr}} This snp is located on {{diseases.9.location}}.
                  </li>
                 
                </ul>
              {{/each}}</p>     
            </div>
            {{else}} {{! If they don't pay for the gene test, display text below}}
            <div class="modal-body genotypes-can-do">
              <p class="lead">Purchase a gene report to view your results.</p>
            </div>
            {{/if}}

            <div class="modal-header">
              <h2>About The Disease</h2>
            </div>
            {{#if data.genes}}
            <div class="modal-body genotypes-can-do">
              <p class="lead">There are two forms of AMD: dry and wet. It is possible for a person to suffer from both forms and for the disease to progress slowly or rapidly.</p>
              <br>
              <p class="lead">Dry macular degeneration is the most common type of AMD. This form, in which the photosensitive cells of the macula slowly break down, is diagnosed in 85 to 90 percent of cases. Yellow deposits called drusen (waste products from metabolism) form and accumulate under the retina, between the retinal pigmented epithelium (RPE) layer and the Bruch's membrane, the blood-retina barrier which supports the retina.</p>
              <br>
              <p class="lead">Drusen are often found in the eyes of older people, but an increase in the size and number of these deposits is frequently the first sign of macular degeneration. Over time, drusen are associated with deterioration of the macula and the death of RPE and photoreceptor cells, resulting in blurring or a spotty loss of clear, straight-ahead vision.</p> <br>
              <p class="lead">Dry AMD may advance and cause loss of vision without turning into the wet form of the disease. It is also possible for early-stage dry AMD to change into the wet form of the disease.</p> <br>
              <p class="lead">Wet macular degeneration is usually preceded by the dry form of the disease. This wet form occurs when the Bruch's membrane begins to break down, usually near drusen deposits, and new blood vessels grow. This growth is called neovascularization. These vessels are very fragile and can leak fluid and blood, resulting in scarring of the macula and the potential for rapid, severe damage. </p> <br>
              <p class="lead">The neovascularization disturbs the natural organization of the light-detecting photoreceptor cells and their associated RPE cells, eventually leading to their death. Straight-ahead vision can become distorted or be lost entirely in a short period of time, sometimes within days or weeks. The wet form accounts for approximately 10 percent of all cases of AMD, but it results in 90 percent of the cases of legal blindness. All wet AMD is considered advanced.</p> <br>


            </div>
            {{else}} {{! If they don't pay for the gene test, display text below}}
            <div class="modal-body genotypes-can-do">
              <p class="lead">Purchase a gene report to view your results.</p>
            </div>
            {{/if}}
            <div class="modal-header">
              <h2>What You Can Do</h2>
            </div>
            {{#if data.genes}}
            <div class="modal-body genotypes-can-do">
              <p class="lead">Several genes are believed to be strongly associated with the risk of developing AMD:</p>
              <br>
              
              <p class="lead">Factor H and Factor B genes are responsible for proteins that help regulate inflammation in the part of the immune system that attacks diseased and damaged cells. According to study results published in 2006 by Columbia University, 74 percent of AMD patients carry certain variants in one or both of these genes, and these may significantly increase their risk of developing it.</p>
              <br>
              <p class="lead">PLEKHA1 – a gene located on chromosome 10; researchers believe it may increase the risk of developing AMD. Like Factors H and B, PLEKHA1 appears to be involved in the cellular processes related to inflammation.</p> <br>
              <p class="lead">HTRA1 – Scientists have identified a link between a mutation in this gene and the development of AMD. Specifically, the HTRA1 mutation is thought to be associated with the formation of drusen (yellow deposits of waste products under the retina that are often a sign of dry AMD), and may also promote the growth of fragile new blood vessels typical of wet AMD.</p> <br>
              <p class="lead">Complement C3 – Researchers have found that a variant in this gene increases the risk of developing the wet and dry forms of AMD. This gene plays an important role in the immune system, leading scientists to believe that inflammation is a vital part of the AMD disease process.</p> <br>
              <p class="lead">Other gene candidates are being studied to determine their role in AMD. While there is definitely a strong genetic component to this disease, it is highly likely that its development is due to a combination of multiple factors including gene mutations or variations and environmental factors such as sunlight exposure, diet and smoking.</p> <br>
    
              <ul class="list-group">
                <li class="list-group-item lead"> Genetic counseling is a great way to obtain a natural history of the condition. There are a number of genetic counselors that can help. 
                </li>
                <li class="list-group-item lead"> Resources include: <br>
                <a href="http://www.ncbi.nlm.nih.gov/variation/tools/1000genomes/?chr=NC_000001.10&from=94458392&to=94586704">1000 Genomes</a> <br>  <a href="http://www.ncbi.nlm.nih.gov/gtr/labs/279559/">The National Center for Biotechnology Information, U.S. National Library of Medicine</a> <br> 
                <a href="http://www.centogene.com/genetic-testing/genetic-statistics/genetic-insights-ophthalmology.html">Centogene AG</a> on their website as a genetic resource.
                </li> 
                <li class="list-group-item lead"> Cesarcells has several clinical trials that treat ARMD. Click <a href="/tools/start-health-assessment">HERE</a> to see if you qualify.
                </li>
              </ul>
            </div>
            {{else}} {{! If they don't pay for the gene test, display text below}}
            <div class="modal-body genotypes-can-do">
              <p class="lead">Purchase a gene report to view your results.</p>
            </div>
            {{/if}}
            <div class="modal-footer">
              <button type="button" class="btn btn-default" id="main-btn" data-dismiss="modal">Close</button>               
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="col-lg-5">
    <h2 style="margin-top: 50px"><strong id="index-title">Genes and Disease</strong></h2>
    <p class="lead">There are dozens of genes associated with retinal diseases. Click on the DNA image below to view them.</p>

   <a href="#" class="modal-trigger" data-toggle="modal" 
    data-target="#genesDiseaseModal" id="a-genesDisease">
      <img src="/assets/images/geneladder.jpeg" height="236" width="500" id="dna-gif">
    </a>
    <div class="modal modal-fullreen fade" id="genesDiseaseModal" tabindex="-1" role="dialog" aria-labelledby="genesDiseaseModal" aria-hidden="true">
      <div class="modal-dialog modal-lg results-modal">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h2 class="modal-title" id="myModalLabel" style="text-align: center">GENES AND DISEASES</h2>
          </div>
          
          <div class="modal-header">
            <h2></h2>
          </div>
          {{#if data.genes}}
          <div class="modal-body">
            <table class="table table-hover" id="table-genes-disease">
              <tbody>
                <tr>
                  <th width="50%" scope="col">Diagnoses</th>
                  <th width="50%" scope="col">Genes that may be considered for testing</th>
                </tr>

                <tr>
                  <td>Achromatopsia
                  </td>
                  <td>CNGA3, CNGB3</td>
                </tr>

                <tr>
                  <td>Albinism </td>
                  <td><strong>Recessive</strong> TYR, OCA2, TYRP1, SLC45A2 <br><strong>X-linked</strong> GPR143 (OA1)</td>
                </tr>

                <tr>
                  <td>Aniridia and other developmental eye anomalies</td>
                  <td>PAX6, WT1<sup>#</sup>, DCDC1<sup>#</sup>, ELP4<sup>#</sup> (<sup>#</sup> del/dup testing only)</td>
                </tr>

                <tr>
                  <td>Axenfeld – Rieger Syndrome</td>
                  <td>FOXC1, PITX2</td>
                </tr>

                <tr> 
                  <td>Best Disease</td>
                  <td>BEST1</td>
                </tr>

                <tr>
                  <td>Bietti’s Crystalline Corneo-Retinal Dystrophy</td>
                  <td>CYP4V2</td>
                </tr>

                <tr> 
                  <td>Choroideremia</td>
                  <td>CHM</td>
                </tr>

                <tr>
                  <td>Chronic Progressive External Ophthalmoplegia (CPEO)</td>
                  <td>POLG, mtDNA deletions^ (^ tested as part of a mitochondrial panel that covers different mitochondrial conditions or susceptibility to disease. Participants should be made aware of the potential for incidental findings with this test. Please refer to the 
                    <a href="http://www.genedx.com/wp-content/uploads/crm_docs/info_sheet_Mito_58_Common.pdf" class="ext">test pamphlet<span class="ext">
                    <span class="element-invisible"> (link is external)</span></span></a> for additional information about the conditions that might be detected with this test.
                  </td>
                </tr>

                <tr>
                  <td>Cone Rod Dystrophy</td>
                  <td>ABCA4, RPGR, CRX, <br>
                
                  GUCY2D <em>(codon R838)</em>
                  </td>
                </tr>

                <tr>
                  <td>Congenital Cranial Dysinnervation Diseases (CCDD)</td>
                  <td>KIF21A, CHN1, SALL4, TUBB3, HOXA1, PHO2A, ROBO3, HOXB1</td>
                </tr>

                <tr>
                  <td>X-linked Congenital Nystagmus</td>
                  <td>FRMD7 (only tested in the presence of a family history of the condition)</td>
                </tr>

                <tr>
                  <td>Congenital Stationary Night Blindness/Oguchi Disease</td>
                  <td>GPR179, RHO, NYX, TRPM1, SAG </td>
                </tr>

                <tr>
                  <td>Corneal Dystrophy</td>
                  <td>TGFBI, KRT3, KRT12 </td>
                </tr>

                <tr>
                  <td>Doyne Honeycomb Dystrophy</td>
                  <td>EFEMP1 </td>
                </tr>

                <tr>
                  <td>Familial  Exudative Vitreal Retinopathy</td>
                  <td>FZD4, LRP5, NDP, TSPAN12 </td>
                </tr>

                <tr>
                  <td>Fundus Albipunctatus/Bothnia Retinal Dystrophy</td>
                <td>RDH5, RLBP1</td>
                </tr>

                <tr>
                  <td>Glaucoma (juvenile open angle and congenital only)</td>
                  <td>CYP1B1, OPTN, MYOC </td>
                </tr>

                <tr>
                  <td>Hermansky-Pudlak Syndrome</td>
                  <td>HPS1 and HPS3*</td> 
                </tr>

                <tr>
                  <td>Juvenile X-linked Retinoschisis</td>
                  <td>RS1</td>
                </tr>

                <tr>
                  <td>Leber Hereditary Optic Neuropathy (LHON)</td>
                  <td>LHON  will be tested as part of a mitochondrial panel that covers not only LHON but also different mitochondrial conditions or susceptibility to disease. Participants should be made aware of the potential for incidental findings with this test. Please refer to the <a href="http://www.genedx.com/wp-content/uploads/crm_docs/info_sheet_Mito_58_Common.pdf" class="ext">test pamphlet<span class="ext"><span class="element-invisible"> (link is external)</span></span></a> for additional information  about the conditions that might be detected with this test.</td>
                </tr>

                <tr>
                  <td>Lowe Syndrome</td>
                  <td>OCRL</td>
                </tr>

                <tr>
                  <td>Microphthalmia and Anophthalmia</td>
                  <td>RAX, SOX2, OTX2, VSX2, STRA6 and SIX6del/dup analysis</td>
                </tr>

                <tr>
                  <td>Neurodegeneration with Brain Iron Accumulation (NBIA)</td>
                  <td>FA2H, MMIN, PANK2, PLA2G6</td>
                </tr>

                <tr>
                  <td>Occult Macular Dystrophy</td>
                  <td>RP1L1 (R45W)</td>
                </tr>

                <tr>
                  <td>Optic Atrophy, Dominant </td>
                  <td>OPA1, OPA3</td>
                </tr>

                <tr>
                  <td>Papillo-renal Syndrome</td>
                  <td>PAX2</td>
                </tr>

                <tr>
                  <td>Pattern Dystrophy</td>
                  <td>PRPH2</td>
                </tr>

                <tr>
                  <td>Retinitis Pigmentosa (RP) and Retinal Degenerations</td>
                  <td><strong>Dominant</strong> (panel** including RHO, PRPH2, RP1, IMPDH1, PRPF8, NR2E3, PRPF3, TOPORS, PRPF31, RP1, KLHL7, SNRNP200), CA4, CRB1, CTRP5<br><strong>X-linked</strong> RPGR, RP2 <br><strong>Recessive:</strong> single genes available on as needed basis — please inquire with CC</td>
                </tr>

                <tr>
                  <td>Retinoblastoma</td>
                  <td>RB1</td>
                </tr>

                <tr>
                  <td>Sorsby Fundus Dystrophy</td>
                  <td>TIMP3</td>
                </tr>

                <tr>
                  <td>Stargardt Disease</td>
                  <td>ABCA4, ELOVL4, PRPH2</td>
                </tr>

                <tr>
                  <td>Stickler Syndrome</td>
                  <td>COL2A1</td>
                </tr>

                <tr>
                  <td>Usher Syndrome</td>
                  <td>Usher panel** (CDH23, CLRN1, DFNB31 (WHRN), GPR98, MYO7A, PCDH15, USH1C, USH1G, USH2A) </td>
                </tr>
              </tbody>
            </table>
          </div>
         {{else}}

         <div class="modal-body">
           <p class="lead"><a href="/charge">PURCHASE A GENE REPORT </a> to view your results.</p>
         </div>
         {{/if}}
          <div class="modal-footer">
              <button type="button" class="btn btn-default" id="main-btn" data-dismiss="modal">Close</button> 
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2 id="your-genome-h2"><strong id="index-title">Your Genome</strong></h2>
    {{#if data.genes}}
    <p class="lead text-center">Your results are in the table below. We tested your genome for 10 genetic mutations of clinical relevance. This is not an exhaustive list, but a high level overview. The table will display for you base pairs (Your Genotype). Click on each Gene or SNP for more information.</p>

    <div class="wrap-snps table-responsive">
      <table class="table table-hover" id="genes-table" cellspacing="0" cellpadding="0" border="0">
        <thead>
          <tr>
              <th>Retinal Disease   <i class="fa fa-info-circle" id="retinal-disease-icon" aria-hidden="true"></i></th>
              <th>Gene   <i class="fa fa-info-circle" id="gene-icon" aria-hidden="true"></i></th>
              {{!-- <th>SNP</th> --}}
              <th>Variants   <i class="fa fa-info-circle" id="variant-icon" aria-hidden="true"></i></th>
              {{!-- <th>Your Genotype</th> --}}
        
          </tr>
        </thead>
        <tbody>
      {{#each data.genes}}
        {{#each diseases}}  
          
          <tr>
              
            <td>{{diseasename}}</td>
            <td><a id="genename-link" target="_blank" href="https://ghr.nlm.nih.gov/gene/{{diseasegenename}}#conditions">{{diseasegenename}}</a></td> 
            <td>{{variants}}</td>
          
          </tr>
        
        {{/each}}        
      {{/each}}

        </tbody>
      </table>
    
 
      <table class="table table-hover table-responsive" id="snps-table" cellspacing="0" cellpadding="0" border="0">
        <thead>
          <tr>

              {{!-- <th class="td-trials-head">Genes</th> --}}
              <th>SNP   <i class="fa fa-info-circle" id="snps-icon" aria-hidden="true"></i></th>
              {{!-- <th>Variants</th> --}}
              <th>Your Genotype   <i class="fa fa-info-circle" id="genotypes-icon" aria-hidden="true"></i></th>
        
          </tr>
        </thead>
        <tbody>
      {{#each data.genes}}
        {{#each genotypes}}  
          
        {{!-- {{#each ../diseases}} --}}
          <tr>
            
            {{!-- <td class="td-trials">{{diseasegenename}}</td> --}}
            <td><a id="snp-link" target="_blank" href="http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs={{@key}}">{{@key}}</a></td>
            {{!-- <td>{{variants}}</td> --}}
            <td style="color: deeppink">{{this}}</td>
          
          </tr>
          {{!-- {{/each}} --}}
        
        {{/each}}        
      {{/each}}

        </tbody>
          
      </table>
    </div>
    {{else}} {{! If they don't pay for the gene test, display text below}}
    <div class="modal-body genotypes-can-do">
      <p class="lead"><a href="/charge">PURCHASE A GENE REPORT </a> to view your results.</p>
    </div>
    {{/if}}
  </div>
</div>
<div class="row">
  {{!-- <div class="col-xs-12 col-sm-2">
   
  </div> --}}
    <div class="col-xs-12 col-sm-12" style="padding: 10px">
    {{!-- <h1>Nutrition Support Protocol</h1> --}}
      <a class="btn btn-primary" id="well-supps" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Nutrition Support Protocol
      </a>
      <div class="collapse" id="collapseExample">
      {{#if data.genes}}
        <div class="well">
        <h2 class="list-group-item-heading">Lifestyle recommendations</h2>
          <ul class="list-group">
            <li class="list-group-item">Termination of cigarette/cigar habit is critical to the reduction in AMD risk</li>
            <li class="list-group-item">Minimize exposure to UV/chemical contaminants to protect the eye from damaging fumes and oxidation that may incite the destructive processes of degeneration</li>
            <li class="list-group-item">Maintain normal body fat (BMI < 30)</li>
            <li class="list-group-item">Strive to exercise daily to improve circulation</li>
            <li class="list-group-item">Get outdoors as often as possible and take frequent “screen breaks” from computers/tablets by looking at a distance
several times an hour</li>
            <li class="list-group-item">Address lifestyle strategies, exercise and diet to correct abnormal blood glucose, lipids, blood pressure, circulation, and
homocysteine levels</li>
          </ul>
          <h2 class="list-group-item-heading">Dietary tips and caveats</h2>
            <ul class="list-group">
              <li class="list-group-item">Consume foods high in lutein and zeaxanthin such as spinach, kale, broccoli, turnip greens, and egg yolks</li>
              <li class="list-group-item">In order to receive a broad spectrum of antioxidants, eating 5-9 servings of a variety of fresh, organic fruits and
              vegetables is strongly advised</li>
              <li class="list-group-item">Emphasize omega-3 fatty acids (salmon, mackerel, herring, light tuna) and omega-9 fats (olive oil, olives, almonds,
hazelnuts, avocados, macadamia oil and coconut oil)</li>
              <li class="list-group-item">Choose lean, clean quality protein at each meal such as chicken breast, turkey breast, lean beef, fish (especially
salmon and tuna), eggs and whey protein</li>
              <li class="list-group-item">Avoid fried foods, trans fats and smoked meats; cook with olive oil at low heat or coconut or avocado oil if using high heat</li>
              <li class="list-group-item">Aim to get more zinc and copper in the diet. Good food sources of zinc include beef, pork, lamb, fish, chicken (especially dark meat), peanuts, peanut butter and beans. Good sources of copper include crab, lobster, shrimp, oysters, beans, nuts, and white potatoes – make sure animal protein sources are antibiotic and hormone-free, and preferably organic</li>
              <li class="list-group-item">Drink at least 64 ounces of filtered or non-chlorinated water every day</li>
              <li class="list-group-item">Substitute complex carbohydrates, such as brown rice and quinoa, for refined and simple carbohydrates</li>
              <li class="list-group-item">Substitute complex carbohydrates, such as brown rice and quinoa, for refined and simple carbohydrates</li>
              <li class="list-group-item">Strive to keep blood sugar optimal and snack on healthy fats such as coconut, nuts, seeds, avocados, and PaleoBars™
              as needed to avoid hypoglycemia</li>

            </ul>
            <h2 class="list-group-item-heading">Supplement recommendations</h2>
              <ul class="list-group">
                <li class="list-group-item">*Vitamin A (from Palmitate and Mixed Carotenoids): 3,000 - 15,000 IU/day </li>
                <li class="list-group-item">Methylated B-Complex</li>
                <li class="list-group-item">Zinc (chelated forms are easily absorbed): 15 - 50mg/day</li>
                <li class="list-group-item">Selenium: 50 - 200mcg/day</li>
                <li class="list-group-item">Taurine: 200 - 1000mg/day</li>
                <li class="list-group-item">N-Acetyl-Cysteine (NAC): 200 - 800mg/day</li>
                <li class="list-group-item">Quercetin: 100 - 400mg/day </li>
                <li class="list-group-item">Bilberry: 100 - 400mg/day [standardized to contain at least 25% anthocyanidins]</li>
                <li class="list-group-item">High Gamma Mixed Tocopherols: 100 - 400mg/day</li>
                <li class="list-group-item">Ginkgo Biloba: 60mg/day [standardized to contain at least 15mg gingkoflavonglycosides]</li>
                <li class="list-group-item">Alpha lipoic acid: 50 - 400mg/day</li>
                <li class="list-group-item">Turmeric: 200 - 500mg/day</li>
                <li class="list-group-item">Green tea: 1-2 cups per day</li>
                <li class="list-group-item">Natural Lutein Esters: 10 - 50mg/day</li>
                <li class="list-group-item">Zeaxanthin esters: 2 - 10mg/day</li>
                <li class="list-group-item">Astaxanthin: 10 - 20mg/day</li>
                <li class="list-group-item"> Carnosine and Benfotiamine (taken together): 450mg and 100mg/day, respectively</li>
                <li class="list-group-item"> Omega 3 fatty acids EPA/DHA combo: 5,000mg/day</li>
              </ul>
              <p class="lead">*Note: Carotenoids such as beta-carotene may slightly decrease lutein absorption. Check with your doctor before consuming Vitamin A supplements if you have a retinal disease.</p>
              <p class="lead" style="border-style: solid; padding: 6px">THIS INFORMATION IS PROVIDED FOR THE USE OF PHYSICIANS AND OTHER LICENSED HEALTH CARE PRACTITIONERS ONLY. THIS INFORMATION IS INTENDED FOR PHYSICIANS AND OTHER LICENSED HEALTH CARE PROVIDERS TO USE AS A BASIS FOR DETERMINING WHETHER OR NOT TO RECOMMEND THESE PRODUCTS TO THEIR PATIENTS. THIS MEDICAL AND SCIENTIFIC INFORMATION IS NOT FOR USE BY CONSUMERS. THE DIETARY SUPPLEMENT ADVICE STATED ABOVE IS NOT INTENDED FOR USE BY CONSUMERS AS A MEANS TO CURE, TREAT, PREVENT, DIAGNOSE, OR MITIGATE ANY DISEASE OR OTHER MEDICAL CONDITION.</p>
              <h1>Citations</h1>
              <p class="lead">Vitamin A as a risk factor to ARMD: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/27502478"> Study</a></p>
              <p class="lead">Dietary Antioxidants and the reduced risk of ARMD: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/17664009"> Study</a></p>
              <p class="lead">Dietary Antioxidants and zinc supplementation: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/27471039"> Study</a></p>
              <p class="lead">Vitamins A, C, and E, and advanced age-related macular degeneration: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/7933422"> Study</a></p>
              <p class="lead">Taurine provides neuroprotection against retinal ganglion cell degeneration: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/23115615"> Study</a></p>
              <p class="lead">N-acetylcysteine amide prevents oxidative stress-induced effects: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/26842754"> Study</a></p>
              <p class="lead">Polyphenols might prevent or delay the onset and maturation of cataract: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/27261615"> Study</a></p>
              <p class="lead">Effect of fermented bilberry extracts on visual outcomes in eyes with myopia: a prospective, randomized, placebo-controlled study: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/23113643"> Study</a></p>
              <p class="lead">Impact of diets containing corn oil or olive/sunflower oil mixture on the human plasma and lipoprotein lipid metabolism: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/11905957"> Study</a></p>
              <p class="lead">Ginkgo biloba extract for age-related macular degeneration: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/23440785"> Study</a></p>
              <p class="lead">α-Lipoic Acid in Soluplus(®) Polymeric Nanomicelles for Ocular Treatment of Diabetes-Associated Corneal Diseases: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/27103010"> Study</a></p>
              <p class="lead">Clinical development of curcumin in neurodegenerative disease: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/26035622"> Study</a></p>
              <p class="lead">Green tea catechins are potent anti-oxidants that ameliorate sodium iodate-induced retinal degeneration in rats: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/27383468"> Study</a></p>
              <p class="lead">Dietary carotenoids in normal and pathological tissues of corpus uteri: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/19056531"> Study</a></p>
              <p class="lead">Long-term plant stanol and sterol ester-enriched functional food consumption, serum lutein/zeaxanthin concentration and macular pigment optical density: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/18986598"> Study</a></p>
              <p class="lead">The effect of astaxanthin on vascular endothelial growth factor (VEGF) levels and peroxidation reactions in the aqueous humor: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/27499573"> Study</a></p>
              <p class="lead">Increased protein damage in renal glomeruli, retina, nerve, plasma and urine and its prevention by thiamine and benfotiamine therapy in a rat model of diabetes: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/20369223"> Study</a></p>
              <p class="lead">Intravitreal injection of forskolin, homotaurine, and L-carnosine affords neuroprotection to retinal ganglion cells following retinal ischemic injury: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/26167113"> Study</a></p>
              <p class="lead">Systemic confounders affecting serum measurements of omega-3 and -6 polyunsaturated fatty acids in patients with retinal disease: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/27596098"> Study</a></p>
        </div>
        {{else}}
        <div class="well well-lg">
          <p class="lead"><a href="/charge">PURCHASE A GENE REPORT </a> to view your results.</p>
        </div>
        {{/if}}
      </div>
    </div>
    
</div>
</div>







