<h1 style="font-size: 50px; margin-top: 160px; text-align: center"> {{user}}'s Genetics </h1>
<div class="row" id="make-transparent">
{{!-- <div class="col-lg-1"></div> --}}
  <div class="col-lg-5 wrap-gene-results">
    <div class="list-group">
      <h2 style="margin-top: 30px">Understanding Your Results</h2>
      <p class="lead">We tested your genome for 3 diseases. vnwjvwncnown</p>
      <a href="#" class="modal-trigger" data-toggle="modal" 
      data-target="#glaucomaModal" id="a-glaucoma">Glaucoma
      <br>
      <p>You do not have Glaucoma</p>
      </a>
      <div class="modal modal-fullreen fade" id="glaucomaModal" tabindex="-1" role="dialog" aria-labelledby="glaucomaModal" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
                <h2 class="modal-title" id="myModalLabel" style="text-align: center"></h2>
                </div>
                <div style="display: flex; align-items: center; justify-content: center">
                <img style="" src="http://brandoneye.com/wp-content/uploads/2015/07/glaucoma.png">
                </div>
                <div class="modal-header">
                </div>
                <div class="modal-body">
                  
                  <h2>Your Results</h2>
                  <p style="">Blah blah blah</p>
                </div>
                <div class="modal-header">
                </div>
                <div class="modal-body">
                <h2>About The Disease</h2>

                    <p style="">Glaucoma is a group of eye diseases that damage the optic nerve (the bundle of nerve fibers that carries information from the eye to the brain) and can lead to vision loss and possibly blindness.</p>
                    <br>
                    
                    <p>Vision experts believe that half of those affected by glaucoma may not know it, because it usually has no noticeable symptoms in its early stages. By the time people notice that something is wrong with their vision, the disease has already caused considerable damage.</p> <br>
                    <p>Vision lost to glaucoma cannot be regained. If left untreated, glaucoma will lead to blindness. Although there is no cure, medications and surgery can help slow the disease's progression.</p>
                    <br>

                    <p>Glaucoma is the second leading cause of blindness worldwide, according to the World Health Organization, affecting 60.5 million in 2010. Given the aging of the world's population, this number may increase to almost 80 million by 2020. More than three million Americans are living with glaucoma, 2.7 million of whom—aged 40 and older—are affected by its most common type, open-angle glaucoma. In the United States, glaucoma is a leading cause of blindness among African Americans and Hispanics.</p>
                    <br>

                    <p>Open-angle glaucoma is three to four times more common in African Americans than in non-Hispanic whites. Between the ages of 45 and 64, glaucoma is fifteen times more likely to cause blindness in African Americans than in Caucasians.</p>

                </div>
                <div class="modal-header">
                </div>
                <div class="modal-body">
                <h2>What You Can Do</h2>
                    <p style="">Blah blah blah</p>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                </div>
              </div>
          </div>
      </div>
      <a href="#" class="modal-trigger" data-toggle="modal" 
      data-target="#stargardtsModal" id="a-stargardts">Stargardt's Disease
      <br>
      <p>You do not have Stargardts</p>
      </a>
      <div class="modal modal-fullreen fade" id="stargardtsModal" tabindex="-1" role="dialog" aria-labelledby="stargardtsModal" aria-hidden="true">
          <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
                <h2 class="modal-title" id="myModalLabel" style="text-align: center">Stargardt's Disease</h2>
                </div>
                <div style="display: flex; align-items: center; justify-content: center">
                <img style="width: 50%" src="https://www.visability.com.au/image.php?file=/art/rta/aboutvision/eyeanatomy.jpg&width=499&height=375">
                </div>
                <div class="modal-header">
                </div>
                <div class="modal-body">
                  <h2>Your Results</h2>
                    <p style="">Blah blah blah</p>
                    
                </div>
                <div class="modal-header">
                </div>
                <div class="modal-body">
                <h2>About The Disease</h2>
                    <p style="">The most common cause of Stargardt’s is an autosomal recessive mutation in a gene called ABCA4. This gene normally facilitates transport of a “used” form of vitamin A out of photoreceptors, the light sensitive cells in the retina. Without ABCA4, this material builds up in the retina and contributes to the formation of lipofuscin.</p>
                    <br>
                    
                    <p>Patients usually inherit Stargardt disease from parents who are unaffected carriers of the disease where one of the two copies of the ABCA4 gene is each parent carries a mutation. In such families, each child has a 25 percent chance of developing Stargardt’s disease and a 50 percent chance of being an unaffected carrier.</p>
                    <br>
                    <p>Rarely, Stargardt disease can be caused by an autosomal dominant mutation in a gene called ELOVL4. This gene is responsible for the synthesis of very long chain fatty acids. In families with this form of the disease, one parent has the disease and 50 percent of his/her children inherit one copy of a mutated version of the ELOVL4 gene and develop the disease.</p> <br>


                </div>
                <div class="modal-header">
                </div>
                <div class="modal-body">
                <h2>What You Can Do</h2>
                    <p style="">Blah blah blah</p>
                    
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                </div>
              </div>
          </div>
      </div>
      <a href="#" class="modal-trigger" data-toggle="modal" 
      data-target="#armdModal" id="a-armd">Age Related Macular Dengeration (ARMD)
      <br>
      <p>You do not have ARMD</p>
      </a>
      <div class="modal modal-fullreen fade" id="armdModal" tabindex="-1" role="dialog" aria-labelledby="armdModal" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
                <h2 class="modal-title" id="myModalLabel" style="text-align: center">Age Related Macular Dengeration</h2>
                </div>
                <div style="display: flex; align-items: center; justify-content: center">
                <img style="width: 50%" src="https://www.visability.com.au/image.php?file=/art/rta/aboutvision/eyeanatomy.jpg&width=499&height=375">
                </div>
                <div class="modal-header">
                <h2>Your Results</h2>
                </div>
                <div class="modal-body">
                    <p style="">The most common cause of Stargardt’s is an autosomal recessive mutation in a gene called ABCA4. This gene normally facilitates transport of a “used” form of vitamin A out of photoreceptors, the light sensitive cells in the retina. Without ABCA4, this material builds up in the retina and contributes to the formation of lipofuscin.</p>
                    
                </div>
                <div class="modal-header">
                <h2>About The Disease</h2>
                </div>
                <div class="modal-body">
                    <p style="">The most common cause of Stargardt’s is an autosomal recessive mutation in a gene called ABCA4. This gene normally facilitates transport of a “used” form of vitamin A out of photoreceptors, the light sensitive cells in the retina. Without ABCA4, this material builds up in the retina and contributes to the formation of lipofuscin.</p>
                    <br>
                    
                    <p>Patients usually inherit Stargardt disease from parents who are unaffected carriers of the disease where one of the two copies of the ABCA4 gene is each parent carries a mutation. In such families, each child has a 25 percent chance of developing Stargardt’s disease and a 50 percent chance of being an unaffected carrier.</p>
                    <br>
                    <p>Rarely, Stargardt disease can be caused by an autosomal dominant mutation in a gene called ELOVL4. This gene is responsible for the synthesis of very long chain fatty acids. In families with this form of the disease, one parent has the disease and 50 percent of his/her children inherit one copy of a mutated version of the ELOVL4 gene and develop the disease.</p> <br>


                </div>
                <div class="modal-header">
                <h2>What You Can Do</h2>
                </div>
                <div class="modal-body">
                    <p style="">The most common cause of Stargardt’s is an autosomal recessive mutation in a gene called ABCA4. This gene normally facilitates transport of a “used” form of vitamin A out of photoreceptors, the light sensitive cells in the retina. Without ABCA4, this material builds up in the retina and contributes to the formation of lipofuscin.</p>
                    <br>
                    
                    <p>Patients usually inherit Stargardt disease from parents who are unaffected carriers of the disease where one of the two copies of the ABCA4 gene is each parent carries a mutation. In such families, each child has a 25 percent chance of developing Stargardt’s disease and a 50 percent chance of being an unaffected carrier.</p>
                    <br>
                    <p>Rarely, Stargardt disease can be caused by an autosomal dominant mutation in a gene called ELOVL4. This gene is responsible for the synthesis of very long chain fatty acids. In families with this form of the disease, one parent has the disease and 50 percent of his/her children inherit one copy of a mutated version of the ELOVL4 gene and develop the disease.</p> <br>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                </div>
              </div>
          </div>
      </div>
    </div>
    <canvas width="1600" height="1000">
  
    </canvas>
 
  </div>
  <div class="col-lg-7">
      <h2>Immediate attention required</h2>
      <p class="lead">Your results for these tested conditions deviate significantly from the normal range. Your current and future health might be impacted.</p>
    <div class="wrap-snps table-responsive">
      <table class="table" id="genes-table" cellspacing="0" cellpadding="0" border="0">
        <thead>
          <tr>

              <th>Genes</th>
              {{!-- <th>SNP</th> --}}
              <th>Variants</th>
              {{!-- <th>Your Genotype</th> --}}
        
          </tr>
        </thead>
        <tbody>
      {{#each data.genes}}
        {{#each diseases}}  
          
          <tr>
              
            <td>{{diseasegenename}}</td>
            {{!-- <td><a target="_blank" href="http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs={{@key}}">{{@key}}</a></td> --}}
            <td>{{variants}}</td>
            {{!-- <td>{{this}}</td> --}}
          
          </tr>
        
        {{/each}}        
      {{/each}}

        </tbody>
      </table>
    
 
      <table class="table table-hover table-responsive" id="snps-table" cellspacing="0" cellpadding="0" border="0">
        <thead>
          <tr>

              {{!-- <th class="td-trials-head">Genes</th> --}}
              <th>SNP</th>
              {{!-- <th>Variants</th> --}}
              <th>Your Genotype</th>
        
          </tr>
        </thead>
        <tbody>
      {{#each data.genes}}
        {{#each genotypes}}  
          
        {{!-- {{#each ../diseases}} --}}
          <tr>
              
            {{!-- <td class="td-trials">{{diseasegenename}}</td> --}}
            <td><a id="snp-link" target="_blank" href="http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs={{@key}}">{{@key}}</a></td>
            {{!-- <td>{{variants}}</td> --}}
            <td>{{this}}</td>
          
          </tr>
          {{!-- {{/each}} --}}
        
        {{/each}}        
      {{/each}}

        </tbody>
          
      </table>
    </div>
  </div>
</div>
{{!-- I want to display the gene name, variants in the corresponding field --}}
<script type="text/javascript">
"undefined"==typeof requestAnimationFrame&&(requestAnimationFrame="undefined"!=typeof window&&(window.msRequestAnimationFrame||window.mozRequestAnimationFrame||window.webkitRequestAnimationFrame||window.oRequestAnimationFrame)||function(e){return setTimeout(e,17)}),function(e,t){"object"==typeof exports&&"undefined"!=typeof module?t(exports):"function"==typeof define&&define.amd?define(["exports"],t):t(e.timer={})}(this,function(e){"use strict";function t(){l=s=0,c=1/0,n(a())}function n(e){if(!l){var n=e-Date.now();n>24?c>e&&(s&&clearTimeout(s),s=setTimeout(t,n),c=e):(s&&(s=clearTimeout(s),c=1/0),l=requestAnimationFrame(t))}}function i(e,t){this.callback=e,this.time=t,this.flush=!1,this.next=null}function o(e,t,o){o=null==o?Date.now():+o,null!=t&&(o+=+t);var u=new i(e,o);r?r.next=u:m=u,r=u,n(o)}function u(e,t,n){n=null==n?Date.now():+n,null!=t&&(n+=+t),f.callback=e,f.time=n}function a(e){e=null==e?Date.now():+e;var t=f;for(f=m;f;)e>=f.time&&(f.flush=f.callback(e-f.time,e)),f=f.next;f=t,e=1/0;for(var n,i=m;i;)i.flush?i=n?n.next=i.next:m=i.next:(i.time<e&&(e=i.time),i=(n=i).next);return r=n,e}var m,r,f,l,s,c=1/0;e.timer=o,e.timerReplace=u,e.timerFlush=a});

     var canvas = document.querySelector("canvas"),
         context = canvas.getContext("2d"),
         width = canvas.width,
         height = canvas.height,
         radius = 2.5,
         minDistance = 80,
         maxDistance = 100,
         minDistance2 = minDistance * minDistance,
         maxDistance2 = maxDistance * maxDistance;

     var tau = 2 * Math.PI,
         n = 100,
         particles = new Array(n);

     for (var i = 0; i < n; ++i) {
       particles[i] = {
         x: width * Math.random(),
         y0: height * Math.random(),
         v: .1 * (Math.random() - .5)
       };
     }

     timer.timer(function(elapsed) {
       context.clearRect(0, 0, width, height);

       context.lineWidth = 1;
       context.strokeStyle = "#777";
       for (var i = 0; i < n; ++i) {
         var pi = particles[i];
         for (var j = i + 1; j < n; ++j) {
           var pj = particles[j],
               dx = pi.x - pj.x,
               dy = pi.y - pj.y,
               d2 = dx * dx + dy * dy;
           if (d2 < maxDistance2) {
             context.globalAlpha = d2 > minDistance2 ? (maxDistance2 - d2) / (maxDistance2 - minDistance2) : 1;
             context.beginPath();
             context.arc((pi.x + pj.x) / 2, (pi.y + pj.y) / 2, Math.sqrt(d2) / 2, 0, tau);
             context.stroke();
           }
         }
       }
       context.globalAlpha = 1;

       for (var i = 0; i < n; ++i) {
         var p = particles[i];
         p.y = p.y0 + elapsed * p.v;
         if (p.y > height + maxDistance) p.x = width * Math.random(), p.y0 -= height + 2 * maxDistance;
         else if (p.y < -maxDistance) p.x = width * Math.random(), p.y0 += height + 2 * maxDistance;
         context.beginPath();
         context.arc(p.x, p.y, radius, 0, tau);
         context.fill();
       }
     });


</script>











