<div class="container">
  <div class="row" style="margin-top: 200px">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-body"><h1 id="results-h1"> Your Assessment Results </h1></div>
      </div>
      {{#if scores.0.points}}
      <div class="panel panel-default">
        <div class="panel-body"><p class="lead">View your results in the table below. Click on 'Ask About This Trial' only if your points are equal to the qualifying points and you are ready to contact the clinic.</p></div>
      </div>
    </div> 
    <div class="col-md-6" >
      <table id="gene-table" class="table table-striped gene">
        <thead>
          <tr>
              <th>Trial ID</th>
              <th>Your Points</th>
              <th>Qualifying Points</th>

          </tr>
        </thead>
        <tbody> 
          <tr>
              <td class="td-trials">{{scores.0.trial_id}}</td>
              <td class="td-trials">{{scores.0.points}}</td>
              <td class="td-trials">6</td>
              <td class="td-trials"><a href="/clinical-trials/zero" class="btn convo-btn pull-right btn btn-primary ask"><i class="fa fa-comments-o" aria-hidden="true"></i>    Ask about this trial</a></td>

          </tr>
          <tr>
              <td class="td-trials">{{scores.1.trial_id}}</td>
              <td class="td-trials">{{scores.1.points}}</td>
              <td class="td-trials">8</td>
              <td class="td-trials"><a href="/clinical-trials/one" class="btn convo-btn pull-right btn btn-primary ask"><i class="fa fa-comments-o" aria-hidden="true"></i>    Ask about this trial</a></td>
             
          </tr>
          <tr>
              <td class="td-trials">{{scores.2.trial_id}}</td>
              <td class="td-trials">{{scores.2.points}}</td>
              <td class="td-trials">3</td>
              <td class="td-trials"><a href="/clinical-trials/two" class="btn convo-btn pull-right btn btn-primary ask"><i class="fa fa-comments-o" aria-hidden="true"></i>    Ask about this trial</a></td>

          </tr>
          <tr>
              <td class="td-trials">{{scores.3.trial_id}}</td>
              <td class="td-trials">{{scores.3.points}}</td>
              <td class="td-trials">1</td>
              <td class="td-trials"><a href="/clinical-trials/three" class="btn convo-btn pull-right btn btn-primary ask"><i class="fa fa-comments-o" aria-hidden="true"></i>    Ask about this trial</a></td>

          </tr>
          <tr>
              <td class="td-trials">{{scores.4.trial_id}}</td>
              <td class="td-trials">{{scores.4.points}}</td>
              <td class="td-trials">1</td>
              <td class="td-trials"><a href="/clinical-trials/four" class="btn convo-btn pull-right btn btn-primary ask"><i class="fa fa-comments-o" aria-hidden="true"></i>    Ask about this trial</a></td>

          </tr>
          <tr>
              <td class="td-trials">5</td>
              <td class="td-trials">0</td>
              <td class="td-trials">0</td>
              <td class="td-trials"><a href="/clinical-trials/five" class="btn convo-btn pull-right btn btn-primary ask"><i class="fa fa-comments-o" aria-hidden="true"></i>    Ask about this trial</a></td>

          </tr>
          <tr>
              <td class="td-trials">{{scores.5.trial_id}}</td>
              <td class="td-trials">{{scores.5.points}}</td>
              <td class="td-trials">5</td>
              <td class="td-trials"><a href="/clinical-trials/six" class="btn convo-btn pull-right btn btn-primary ask"><i class="fa fa-comments-o" aria-hidden="true"></i>    Ask about this trial</a></td>

          </tr>
          <tr>
              <td class="td-trials">{{scores.6.trial_id}}</td>
              <td class="td-trials">{{scores.6.points}}</td>
              <td class="td-trials">3</td>
              <td class="td-trials"><a href="/clinical-trials/seven" class="btn convo-btn pull-right btn btn-primary ask"><i class="fa fa-comments-o" aria-hidden="true"></i>    Ask about this trial</a></td>

          </tr>
        </tbody>
      </table>
      
    
      <p class="lead">Have questions? <a href="/accounts/support"><strong id="index-title">Contact Support</strong></a></p>
    </div><br>
    <div class="col-md-6">
    <h2 style="margin-top: 65px; margin-left: 125px"> DID YOU QUALIFY? </h2>
      <p class="lead" style="line-height: 2.4; font-size: 24px; margin-left: 180px; width: 150">If the total points in the Your Points field, match the total points in the Qualifying Points field, then you've qualified for that trial. It's that simple! </p>

      <div class="col-sm-12">
      <a href="/users/dashboard" type="submit" class="btn btn-primary" id="back-to-dash-btn"> Back To Dashboard</a><br>

      </div>
    </div>
    
  </div> {{! Row ends}}
  <div class="row">
    <div class="col-lg-12">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-body">
              <p class="lead">Note: By registering at this site, you agree to be contacted by the study site that you 
    selected. By clicking submit, the information you provided will be governed by our 
    privacy policy. For important information about how your personal information will be 
    used by CESARCELLS, view our terms and conditions, which includes our privacy policy.</p>
            </div>
            </div>
           
            
          <span class="glyphicon glyphicon-star" aria-hidden="true">     Trials are derived from: <img src="/assets/images/clintrial.png" width="50%" style="-webkit-filter: grayscale(100%); filter: grayscale(100%); padding: 50px;"></span>
    </div>
    {{else}}
      <div class="modal-body genotypes-can-do">
        <h2 class="lead" style="text-align: center"><a href="/tools/start-health-assessment">TAKE THE CLINICAL TRIAL ASSESSMENT </a> to view your results.</h2>
      </div>
      
    <span class="glyphicon glyphicon-star" aria-hidden="true">     Trials are derived from: <img src="/assets/images/clintrial.png" width="50%" style="-webkit-filter: grayscale(100%); filter: grayscale(100%); padding: 50px;"></span>
    {{/if}}
  </div> {{!Row ends}}
</div> {{! Container ends}}