

    <div class="row" id="row-top-dash-images">
        <div class="col-md-6" >

        </div>
        <div class="col-md-6" id="col-one-dash-images">
            <div class="col-xs-9">
                <h2 id="h1-images">What you can do</h2>
            </div>
            <a href="/tools/all-trials">
            <img src="/assets/images/stemcells-purple.png" class="img-rounded" alt="Cinque Terre" width="304" height="206" id="img-dash"/>
            <h3><span>Find a Clinical Trial</span></h3>
            </a>

            <a href="/">
            <img src="http://www.stemcellactionnetwork.org/stemcellaction.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="206" id="img-dash2">
            <h3 id="top-right-h3"><spanid="top-right-span">Import Your Genetic Data</span></h3>
            </a>
        </div>
    </div>
    <div class="row" id="row-btm-dash-images">
        <div class="col-md-6">
        
        </div>
        <div class="col-md-6" id="col-two-dash-images"> 
            <a href="/">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9pXf3XJcjOr23rpmE1guhcS8XU05WPE0UN2MCLzAXQ6dQiS96" class="img-rounded" alt="Cinque Terre" width="304" height="206" id="img-dash3"/>
            <h3><span>Take the Amsler Test</span></h3>
            </a>

            <a href="/">
            <img src="http://flexogenix.com/wp-content/uploads/2015/01/16.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="206" id="img-dash4"/>
            <h3 id="top-right-h3"><spanid="top-right-span">Treatments</span></h3>
            </a>
        </div>
    </div>
   <div class="row" id="main-row-sect">
       <div class="container-lg">
           
       <div>
   <div>
    <div class="row">
        <div class="col-md-9">
            <h1 class="what-is-h2" style="text-align: center; color: midnightblue">SEE ALL TRIALS</h1>
                {{#each data.trials}}
                <table id="gene-table" class="table table-striped gene">
                  <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Interventions</th>
                        <th>Minimum Age Requirement</th>
                        <th>Maximum Age Requirement</th>
                        <th>Conditions Disease</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td class="td-trials">{{name}}</td>
                        <td class="td-trials">{{status}}</td>
                        <td class="td-trials">{{interventions}}</td>
                        <td class="td-trials">{{min_age_req}}</td>
                        <td class="td-trials">{{max_age_req}}</td>
                        <td class="td-trials">{{conditionsDisease}}</td>
                    </tr>
                  </tbody>
                </table>
                {{/each}}
          </div>
      </div>

